In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
df = pd.read_csv(r'C:\Users\salman\OneDrive\Desktop\SEM 6\ML\datasets\diabetes.csv')

In [4]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
df2 = pd.read_csv(r'C:\Users\salman\OneDrive\Desktop\SEM 6\ML\datasets\diabetes-dataset.csv')

In [6]:
df2.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0

In [7]:
df.shape, df2.shape

((768, 9), (2000, 9))

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df.shape

(768, 9)

In [11]:
df2.drop_duplicates(inplace=True)

In [12]:
df2.shape

(744, 9)

In [26]:
merged = pd.merge(df, df2, how='outer')

In [27]:
merged.shape

(778, 9)

In [28]:
merged.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,778.000000,778.000000,778.000000,778.000000,778.000000,778.000000,778.000000,778.000000,778.000000
mean,3.821337,121.199229,68.975578,20.763496,80.388175,32.185476,0.471861,33.347044,0.349614
std,3.360794,31.990831,19.471675,16.329714,115.113501,8.215687,0.330180,11.789024,0.477155
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.325000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,36.000000,32.250000,0.374500,29.000000,0.000000
75%,6.000000,141.000000,80.000000,32.000000,130.000000,36.775000,0.626750,41.000000,1.000000
max,17.000000,199.000000,122.000000,110.000000,846.000000,80.600000,2.420000,81.000000,1.000000

In [29]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 778 entries, 0 to 777
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               778 non-null    int64
 1   Glucose                   778 non-null    int64
 2   BloodPressure             778 non-null    int64
 3   SkinThickness             778 non-null    int64
 4   Insulin                   778 non-null    int64
 5   BMI                       778 non-null    float64
 6   DiabetesPedigreeFunction  778 non-null    float64
 7   Age                       778 non-null    int64
 8   Outcome                   778 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 60.8 KB

In [31]:
merged.to_csv(r'C:\Users\salman\OneDrive\Desktop\SEM 6\ML\datasets\transform\diabetes.csv', index=False)